{% extends "layout/layout_coc.html" %}

{% block pageTitle %}
{% include './content/what-is-the-urn.html' %}
{% endblock %}

{% set next = "Change-options" %}

{% set hint = "It's a 9 numbers long and begins with a 100, for example 100456789." %}

{% block content_section %}



    <!-- text input -->
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <!-- Question --><p>(Content needs to be reviewed)</p>
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading"><label class="govuk-label govuk-label--l" for="urn">
          {% include './content/what-is-the-urn.html' %}  </label></h1>
        </legend>

        <div id="do-you-know-urn-hint" class="govuk-hint">
              {{hint}}
            </div>

            <input class="govuk-input" id="urn" name="urn" type="text" value="{{urn}}">
            </div>
          </div>
      </fieldset>
    </div>
    <!-- Question END -->

    {{ govukButton({ text: "Continue" }) }}
  </form>

{% endblock %}
