{% extends "layout/layout_coc.html" %}

{% block pageTitle %}
{% include './content/changes.html' %}
{% endblock %}

{% set next = "" %}

{% set hint = "" %}

{% block content_section %}




    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">New Details</h1>
    </legend><p>(Content needs to be reviewed)</p>

  {% if 'Name' in data['change'] %}
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <!-- Question --><p>(Content needs to be reviewed)</p>
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h2 class="govuk-fieldset__heading">New name</h2>
      </legend>

      <div id="changes-hint" class="govuk-hint">
            {{hint}}
          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <div class="govuk-form-group">
                <label class="govuk-label" for="f-firstName">
                  First name
                </label>
                <input class="govuk-input govuk-!-width-one-half" id="f-firstName" name="firstName" type="text" value="">
              </div>

              <div class="govuk-form-group">
                <label class="govuk-label" for="f-lastName">
                  Last name
                </label>
                <input class="govuk-input govuk-!-width-one-half" id="f-lastName" name="lastName" type="text" value=""/>
              </div>
            </fieldset>
          </div>
  {% endif %}

  {% if 'Contact details' in data['change'] %}
  <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">
        How would you like to be contacted?
      </h1>
    </legend>
    <div id="contact-hint" class="govuk-hint">
      Select all options that are relevant to you.
    </div>
    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="email" data-aria-controls="conditional-contact">
        <label class="govuk-label govuk-checkboxes__label" for="contact">
          Email
        </label>
      </div>
      <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact">
        <div class="govuk-form-group">
          <label class="govuk-label" for="contact-by-email">
            Email address
          </label>
          <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="contact-by-email" type="email" spellcheck="false"></div>

      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="contact-2" name="contact" type="checkbox" value="phone" data-aria-controls="conditional-contact-2">
        <label class="govuk-label govuk-checkboxes__label" for="contact-2">
          Phone
        </label>
      </div>
      <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-2">
        <div class="govuk-form-group">
          <label class="govuk-label" for="contact-by-phone">
            Phone number
          </label>
          <input class="govuk-input govuk-!-width-one-third" id="contact-by-phone" name="contact-by-phone" type="tel"></div>

      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="contact-3" name="contact" type="checkbox" value="text message" data-aria-controls="conditional-contact-3">
        <label class="govuk-label govuk-checkboxes__label" for="contact-3">
          Text message
        </label>
      </div>
      <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-3">
        <div class="govuk-form-group">
          <label class="govuk-label" for="contact-by-text">
            Mobile phone number
          </label>
          <input class="govuk-input govuk-!-width-one-third" id="contact-by-text" name="contact-by-text" type="tel"></div>

      </div>
    </div>

  </fieldset>
</div>
  {% endif %}

  {% if 'Home address' in data['change'] %}
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset apply-address">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h2 class="govuk-fieldset__heading">New home address</h2>
      </legend>

      <div class="govuk-form-group">
        <label class="govuk-label" for="address-line-1">
          Building and street
          <span class="govuk-visually-hidden">line 1 of 2</span>
        </label>
        <input class="govuk-input" id="address-line-1" name="address-line-1" type="text"/>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="address-line-2">
          <span class="govuk-visually-hidden">Building and street line 2 of 2</span>
        </label>
        <input class="govuk-input" id="address-line-2" name="address-line-2" type="text"/>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="address-town">
          Town or city
        </label>
        <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="address-town" type="text"/>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="address-county">
          County
        </label>
        <input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="address-county" type="text"/>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="address-postcode">
          Postcode
        </label>
        <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text"/>
      </div>
    </fieldset>
  </div>

  {% endif %}

  {% if 'Work address' in data['change'] %}
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset apply-address">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h2 class="govuk-fieldset__heading">New work address</h2>
      </legend>

      <div class="govuk-form-group">
        <label class="govuk-label" for="address-line-1">
          Building and street
          <span class="govuk-visually-hidden">line 1 of 2</span>
        </label>
        <input class="govuk-input" id="address-line-1" name="address-line-1" type="text"/>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="address-line-2">
          <span class="govuk-visually-hidden">Building and street line 2 of 2</span>
        </label>
        <input class="govuk-input" id="address-line-2" name="address-line-2" type="text"/>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="address-town">
          Town or city
        </label>
        <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="address-town" type="text"/>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="address-county">
          County
        </label>
        <input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="address-county" type="text"/>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="address-postcode">
          Postcode
        </label>
        <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text"/>
      </div>
    </fieldset>
  </div>

  {% endif %}

  {% if 'Bank details' in data['change'] %}
  <h2 class="govuk-heading-m">New bank details</h2>

  <div class="govuk-form-group">
  <label class="govuk-label" for="name-on-the-account">
    Name on the account
  </label>
  <input class="govuk-input" id="name-on-the-account" name="name-on-the-account" type="text" spellcheck="false"></div>

  <div class="govuk-form-group">
  <label class="govuk-label" for="sort-code">
    Sort code
  </label>
  <div id="sort-code-hint" class="govuk-hint">
    Must be 6 digits long
  </div>
  <input class="govuk-input govuk-input--width-5" id="sort-code" name="sort-code" type="text" spellcheck="false" aria-describedby="sort-code-hint" pattern="[0-9]*" inputmode="numeric">
  </div>

  <div class="govuk-form-group">
  <label class="govuk-label" for="account-number">
    Account number
  </label>
  <div id="account-number-hint" class="govuk-hint">
    Must be between 6 and 8 digits long
  </div>
  <input class="govuk-input govuk-input--width-10" id="account-number" name="account-number" type="text" spellcheck="false" aria-describedby="account-number-hint" pattern="[0-9]*" inputmode="numeric">
  </div>

  <div class="govuk-form-group">
  <label class="govuk-label" for="roll-number">
    Building society roll number (if you have one)
  </label>
  <div id="roll-number-hint" class="govuk-hint">
    You can find it on your card, statement or passbook
  </div>
  <input class="govuk-input govuk-input--width-10" id="roll-number" name="roll-number" type="text" spellcheck="false" aria-describedby="roll-number-hint">
  </div>

  {% endif %}

  {% if 'Something else' in data['change'] %}
  <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="200">
  <div class="govuk-form-group">
  <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="with-hint">
      Can you provide more detail?
    </label>
  </h1>
  <div id="with-hint-hint" class="govuk-hint">
    Do not include {list from checkbox}
  </div>
  <textarea class="govuk-textarea govuk-js-character-count" spellcheck="true" id="with-hint" name="with-hint" rows="5" aria-describedby="with-hint-info with-hint-hint"></textarea>
  </div>

  <div id="with-hint-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
  You can enter up to 200 characters
  </div>

   {% endif %}


  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <!-- Question -->
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading"><label class="govuk-label govuk-label--l" for="urn">
        Urgent  </label></h1>
      </legend>

      <div id="urgent-hint" class="govuk-hint">
            {{hint}}
          </div>

          <div class="govuk-radios govuk-radios--inline">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="urgent" name="urgent" type="radio" value="Yes">
              <label class="govuk-label govuk-radios__label" for="urgent">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="urgent-2" name="urgent" type="radio" value="No">
              <label class="govuk-label govuk-radios__label" for="urgent-2">
                No
              </label>
            </div>
          </div>
    </fieldset>
  </div><br>
    <!-- Question END -->
    <h2 class="govuk-heading-m">Ask the citizen</h2>

    <p class="govuk-body">By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>


    {{ govukButton({ text: "Accept and send to ATWIS" }) }}
  </form>

{% endblock %}
